body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

#new-note-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#note-inputs-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid #000;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
}

#new-note-title,
#new-note-content {
  border: none;
  padding: 15px; /* Increase padding */
  margin-bottom: 5px;
  box-sizing: border-box;
  font-size: 18px; /* Increase font size */
}

#new-note-extras {
  display: flex;
  justify-content: space-between;
}

#notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

#notes-container div {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow-wrap: break-word; /* Wraps long words onto the next line */
  word-wrap: break-word; /* For older browsers */
  word-break: break-word; /* Breaks the line between any two letters if an otherwise unbreakable string is too long to fit */
}