@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background: #0088FF;

}

.logo {
  font-size: 4em;
  font-weight: 600;
  color: #fff;
  user-select: none;

}
nav{
  position: relative;
  border-radius: 8px;
  font-size: 0;
}

.navigation_tab a {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  line-height:50px;
  z-index: 1;
  display: inline-block;
  text-align: center;
  color: #FFFFFF;
}

.navigation_tab .btnlogin-popup {
  width: 130px;
  height: 50px;
  border: #163C86;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.7em solid black;
  font-weight: 800;
  margin-left: 40px;
  transition: .5s;
}
.navigation_tab .btnlogin-popup:hover {
  background: #6E7891;
}
nav .animation{
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background: #163C86;
  border-radius: 8px;
  transition:all;
  -webkit-transition:all .5s ease 0s;
  
}
a:nth-child(1){
    width: 100px;
  }
  nav .start-home,a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0;
  }
  a:nth-child(2){
    width: 110px;
  }
  nav .start-about,a:nth-child(2):hover~.animation{
    width: 110px;
    left: 100px;
  }
  a:nth-child(3){
    width: 100px;
  }
  nav .start-home,a:nth-child(3):hover~.animation{
    width: 100px;
    left: 210px;
  }
  a:nth-child(4){
    width: 160px;
  }
  nav .start-portfolio,a:nth-child(4):hover~.animation{
    width: 160px;
    left: 310px;
  }
  a:nth-child(5){
    width: 120px;
  }
  nav .start-contact,a:nth-child(5):hover~.animation{
    width: 120px;
    left: 470px;
  }
  .intro {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(images/adorable-baby-lying-bed-smiling.jpg);
  }
  .intro .content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    margin-bottom: 20px;
  }
  .intro h2, .intro p, .intro a.btn{
    margin: 20px;
  }
  
  .intro a.btn {
    background: #0088FF;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
    text-decoration: none;
    padding: 10px 20px;
  }
  .wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
  
  }
  .wrapper.active-popup {
    transform: scale(1);
  }
  
  .wrapper.active {
    height: 520px;
  }
  
  .wrapper .X {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: red;
    opacity: 0.2;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }
  .wrapper.active .login-form {
    transition: none;
    transform: translateX(-400px);
  }
  
  .wrapper .login-form {
    width: 100%;
    padding: 40px;
    /* display: none; */
    transition: transform .18s ease;
    transform: translateX(0);
  }
  
  .wrapper .login-form h2 {
    font-size: 2em;
    color: #0A2E72;
    text-align: center;
  }
  
  .wrapper .registration-form {
    position: absolute;
    transition: none;
    transform: translateX(400px);
  }
  
  .wrapper.active .registration-form {
    transition: transform .18s ease;
    transform: translateX(0);
  }
  
  .wrapper .registration-form h2 {
    font-size: 2em;
    color: #0A2E72;
    text-align: center;
  }
  
  .input {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
  }
  
  .input label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:  #173E87;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }
  
  .input input:focus~label,
  .input input:valid~label {
    top: -5px;
  }
  
  .input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
  }
  
  .input .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
  }
  
  .rem {
    font-size: .9em;
    color: greenyellow;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .rem label input {
    accent-color: green;
    margin-right: 3px;
  }
  
  .rem a {
    color: orange;
    text-decoration: none;
    font-weight: 600;
  }
  
  .rem a:hover {
    text-decoration: underline;
  }
  
  .btn {
    width: 100%;
    height: 40px;
    background: #0088FF;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
  }
  
  .login-register {
    font-size: .9em;
    color: greenyellow;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }
  
  .login-register p a {
    color: orange;
    text-decoration: none;
    font-weight: 600;
  }
  
  .login-register p a:hover {
    text-decoration: underline;
  }