<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/notes.css') }}">
  <title>Keep Notes</title>
</head>
<body>
  <div id="new-note-form">
    <div id="note-inputs-container">
      <form action="/save_note" method="post"></form>
      <input type="text" name="title" id="new-note-title" placeholder="Tittle" />
      <textarea  name="content" id="new-note-content" placeholder="Take a note..."></textarea>
      <div id="content" new-note-extras >
        <input type="color" name="color" id="new-note-color" value="#ffffff">
        <button type="submit id="new-note-button>Save</button>
      </div>
    </div>
  </div>
  <div id="notes-container">
    <!-- notes will be added here dynamically -->
  </div>
  <script src="{{ url_for('static', filename='notes.js') }}"></script>
</body>
</html>