<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/header.css">
    <link rel="stylesheet" href="/static/style/about.css">
    <title>About Us</title>
</head>
<body>
    <header>
        <img src="/static/images/Mama_s_Joy-removebg-preview.png" alt="Logo" class="logo">
      <nav class="navigation_tab">
          <a href="/templates/index.html">Home</a>
          <a href="/templates/about.html">About</a>
          <a href="#contact">contact</a>
          <a href="#Blog">Blog</a>
          <button class="btnlogin-popup">Get Started</button>
          <div class="animation start-home"></div>
      </nav>
    </header>
    <main>
        <div class="content">
            <h2>Mama's Joy</h2>
            <p> Welcome to the cutting-edge Online Mother Record System, a revolutionary initiative poised to transform maternal healthcare by ushering in a new era of digital efficiency. Our platform, specifically crafted for first-time mothers, healthcare professionals, and administrative staff, seeks to modernize antenatal care processes, providing seamless access to information and empowering mothers through timely reminders and comprehensive record-keeping.

                Say goodbye to the hassles of traditional paper-based systems that often lead to delays, data entry errors, and the risk of misplacing crucial mother-baby books. With our user-friendly solution, we're dedicated to streamlining your experience, ensuring swift access to vital information, and ultimately enhancing the overall quality of healthcare services for both mothers and infants. Embrace the future of maternal care with the Online Mother Record System – where efficiency meets empowerment.</p>
        </div>
        <img id="freeimage1" class="scattered-image" src="/static/images/adorable-baby-lying-bed-smiling.jpg" alt="Image 1">
        <img id="freeimage2" class="scattered-image" src="/static/images/andrae-ricketts-Q9_zv0LN4jU-unsplash.jpg" alt="Image 2">
        <img id="freeimage3" class="scattered-image" src="/static/images/12463949_4966443.jpg" alt="Image 3">
        <img id="freeimage4" class="scattered-image" src="/static/images/planning-traveling-trip-notes-wanderkust.jpg" alt="Image 4">
        <img id="freeimage5" class="scattered-image" src="/static/images/12690062_5003735.jpg" alt="Image 5">
        <img id="freeimage6" class="scattered-image" src="/static/images/16687980_5468493.jpg" alt="Image 6">
        <img id="freeimage7" class="scattered-image" src="/static/images/cute-black-baby-home.jpg" alt="Image 7">
        <img id="freeimage8" class="scattered-image" src="/static/images/portrait-young-boy-playing-with-his-stuffed-animal-toy.jpg" alt="Image 8">
            <!-- Add as many images as you want -->
    </main>
</body>
</html>