<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Mama's Joy</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'><link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/form.css">
</head>
<body>
<!-- partial:index.partial.html -->
<main>
  <div class="content">
    <h2>Welcome to Mama's Joy</h2>
    <p> Welcome to the cutting-edge Online Mother Record System, a revolutionary initiative poised to transform maternal healthcare by ushering in a new era of digital efficiency. Our platform, specifically crafted for first-time mothers, healthcare professionals, and administrative staff, seeks to modernize antenatal care processes, providing seamless access to information and empowering mothers through timely reminders and comprehensive record-keeping. Say goodbye to the hassles of traditional paper-based systems that often lead to delays, data entry errors, and the risk of misplacing crucial mother-baby books. With our user-friendly solution, we're dedicated to streamlining your experience, ensuring swift access to vital information, and ultimately enhancing the overall quality of healthcare services for both mothers and infants. Embrace the future of maternal care with the Online Mother Record System – where efficiency meets empowerment.</p>
    <button class="btnlogin-popup">Get Started <i class="fa-solid fa-arrow-right"></i></button>
  </div>

  <div class="swiper-container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide--one">

          <span>Reminder</span>
          <div class="slide-content">
            <h3>Get Notified</h3>
            <p>never miss an appointment</p>

          </div>
        </div>
        <div class="swiper-slide swiper-slide--two">
          <span>Gallery</span>
          <div class="slide-content">
            <h3>Keep tabs with</h3>
            <p>pictorials</p>

          </div>

        </div>
        <div class="swiper-slide swiper-slide--three">
          <span>Journals</span>
          <div class="slide-content">
            <h3>Keep track</h3>
            <p>by taking notes</p>

          </div>

        </div>

      </div>

    </div>

    <div class="swiper-pagination"></div>
  </div>
  <div class="circle"></div>
  <div class="wrapper">
    <span class="X">
        <ion-icon name="close"></ion-icon>
    </span>
    <div class="login-form">
        <h2>Login</h2>
        <form action="#">
            <div class="input">
                <span class="icon">
                    <ion-icon name="mail-unread"></ion-icon>
                </span>
                <input type="email" required>
                <label>Email</label>
            </div>
            <div class="input">
                <span class="icon">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                </span>
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="rem">
                <label><input type="checkbox">Remember me</label>
                <a href="#">forgot password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="login-register">
                <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
            </div>
        </form>
    </div>
    <div class="registration-form">
        <h2>Registration</h2>
        <form action="#">
            <div class="input">
                <span class="icon">
                    <ion-icon name="person-circle"></ion-icon>
                </span>
                <input type="text" required>
                <label>Fullname</label>
            </div>
            <div class="input">
                <span class="icon">
                    <ion-icon name="mail-unread"></ion-icon>
                </span>
                <input type="email" required>
                <label>Email</label>
            </div>
            <div class="input">
                <span class="icon">
                    <ion-icon name="call-outline"></ion-icon>
                </span>
                <input type="tel" required>
                <label>Phone</label>
            </div>
            <div class="input">
                <span class="icon">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                </span>
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="input">
                <span class="icon">
                    <ion-icon name="lock-open-outline"></ion-icon>
                </span>
                <input type="password" required>
                <label>Confirm Password</label>
            </div>
            <div class="rem">
                <label><input type="checkbox">Accept terms and conditions</label>
            </div>
            <button type="submit" class="btn">Register</button>
            <div class="footer">
            <div class="login-register">
                <p>Already have an account? <a href="#" class="login-link">login</a></p>
            </div>
        </form>
    </div>
    <div class="overlay"></div>

</div>
</main>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js'></script>
  <script  src="/static/script.js"></script><script src="/static/form.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
