<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/notes.css">
    <title>Keep Notes</title>
</head>
<body>
  <div id="new-note-form">
    <input type="text" id="new-note-title" placeholder="Title">
    <textarea id="new-note-content" placeholder="Take a note..."></textarea>
    <input type="color" id="new-note-color">
    <button id="new-note-button">Add</button>
  </div>
  <div id="notes-container">
    <!-- notes will be added here dynamically -->
  </div>
  <script src="/static/notes.js"></script>
</body>
</html>