<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Mama's Joy - Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/static/style/nav.css">
  <link rel="stylesheet" href="/static/style/sidebar.css">
  <link rel="stylesheet" href="/static/style/menus.css">

</head>
<body>
<!-- partial:index.partial.html -->
<header class="nav">
    <img src="/static/images/Mama_s_Joy-removebg-preview.png" alt="Purple Rose Logo" id="logo">
    <img src="/static/images/andrae-ricketts-Q9_zv0LN4jU-unsplash.jpg" alt="Profile" class="profile-image">
</header>
<!-- partial -->
<menu class="menu">
        
    <button class="menu__item active">
        <div class="menu__icon" >

            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 179.1 145" >
        
                <g id="home-anm">
                    <path stroke-linejoin="round"  stroke-linecap="round" d="M70.5,80.1h40.7"/>
                    <path d="M35,64v80"/>
                    <path d="M145.1,143V63"/>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M24.9,70l65.7-50.7L156.3,70"/>
                </g>
    
                <path stroke-linejoin="round" d="M145.1,117.6v33.1c0,1.5-1.2,2.8-2.8,2.8h-28.4c-1.5,0-2.8-1.2-2.8-2.8V126c0-11.3-9.2-20.5-20.5-20.5l0,0
                c-11.3,0-20.5,9.2-20.5,20.5v27.5h16H37.8c-1.5,0-2.8-1.2-2.8-2.8v-34.2"/>
    
            </svg>

        </div>
        <strong class="menu__text active">home</strong>
    </button>

    <button class="menu__item">
        <div class="menu__icon" >

            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <g id="strategy-anm">
                    <path d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z"/>

                </g>
            </svg>

        </div>
        <strong class="menu__text">Notifications</strong>
    </button>



    <button class="menu__item" id="profileButton">
        <div class="menu__icon" >

            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <g id="security-strok">
                    <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                </g>
            </svg>

        </div>
        <strong class="menu__text">Profile</strong>
    </button>

    <button class="menu__item">
        <div class="menu__icon" >

            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 179.1 145" >

                <circle cx="90.5" cy="90.2" r="19.7"/>
                <g id="settings-anm" >
                    <path stroke-linejoin="round" d="M144.7,73.8l-6.2-1c-0.6-1.5-1.2-3-1.9-4.5l3.6-5.1c3.2-4.4,2.7-10.5-1.2-14.3l-7.4-7.4
                    c-2.1-2.1-4.9-3.3-7.8-3.3c-2.3,0-4.5,0.7-6.4,2.1l-5.1,3.6c-1.6-0.7-3.2-1.4-4.8-2l-1-6.1c-0.9-5.4-5.5-9.3-10.9-9.3H85.1
                    c-5.4,0-10,3.9-10.9,9.2L73.1,42c-1.5,0.6-3,1.2-4.5,1.9l-5-3.6c-1.9-1.4-4.1-2.1-6.5-2.1c-3,0-5.8,1.2-7.8,3.3l-7.4,7.4
                    c-3.8,3.8-4.3,9.8-1.2,14.3l3.7,5.2c-0.7,1.5-1.3,3-1.8,4.5l-6.1,1c-5.4,0.9-9.3,5.5-9.3,10.9v10.5c0,5.4,3.9,10,9.2,10.9l6.3,1.1
                    c0.6,1.5,1.2,3,1.9,4.5l-3.6,5c-3.2,4.4-2.7,10.5,1.2,14.3l7.4,7.4c2.1,2.1,4.9,3.3,7.8,3.3c2.3,0,4.5-0.7,6.4-2.1L69,136
                    c1.4,0.6,2.8,1.2,4.2,1.7l1,6.2c0.9,5.4,5.5,9.3,10.9,9.3h10.5c5.4,0,10-3.9,10.9-9.2l1-6.2c1.5-0.6,3-1.2,4.5-1.9l5.1,3.6
                    c1.9,1.4,4.1,2.1,6.5,2.1c3,0,5.7-1.2,7.8-3.3l7.4-7.4c3.8-3.8,4.3-9.8,1.2-14.3l-3.6-5.1c0.7-1.5,1.3-3,1.9-4.5l6.2-1
                    c5.4-0.9,9.3-5.5,9.3-10.9V84.8C153.9,79.3,150.1,74.7,144.7,73.8z"/>
                </g>
    
            </svg>

        </div>
        <strong class="menu__text">settings</strong>
    </button>

</menu>
<div class="container">
    <div class="sidebar">
        <div class="profileview">
            <img src="/static/images/adorable-baby-lying-bed-smiling.jpg" alt="Purple Rose Logo" id="profilepic">
            <h2>John Doe</h2>
            <p>Knight and shining Armor</p>
        </div>
        <div class="dropdown">
            <div class="dropdown">
                <button class="dropbtn">Dashboard <i class="fas fa-angle-up" id="angleIcon"></i></button>
                <div class="dropdown-content">
                    <a href="#"><i class="fas fa-envelope" id="emailIcon"></i>Email</a>
                    <a href="#"><i class="fas fa-calendar" id="calenderIcon"></i>Calender</a>
                    <a href="#"><i class="fas fa-bell" id="appointmentIcon"></i>Appointments</a>
                    <a href="#"><i class="fas fa-pen" id="keepnotesIcon"></i>Keep Notes</a>
                    <a href="#"><i class="fas fa-sign-out-alt" id="logoutIcon"></i>Logout</a>
                </div>
        </div>
    </div>
</div>
<div class="childInfoForm" id="childInfoForm">
    <form action="#">
            <h2>Mother Details</h2>
            <label>First Name: <input type="text" name="motherFirstName"></label>
            <label>Last Name: <input type="text" name="motherLastName"></label>
            <label>Blood Type: <input type="text" name="motherBloodType"></label>
            <label>Medical History: <textarea name="motherMedicalHistory"></textarea></label>
            <label>Allergies: <textarea name="motherAllergies"></textarea></label>
            <label>Emergency Contact Name: <input type="text" name="motherEmergencyContactName"></label>
            <label>Emergency Contact Phone: <input type="tel" name="motherEmergencyContactPhone"></label>
            <label>Insurance Information: <textarea name="motherInsuranceInformation"></textarea></label>
            <label>Doctor's Name: <input type="text" name="motherDoctorsName"></label>
            <label>Doctor's Phone: <input type="tel" name="motherDoctorsPhone"></label>
            <label>Hospital Preference: <input type="text" name="motherHospitalPreference"></label>
        
            <h2>Baby Details</h2>
            <label>Baby's Name: <input type="text" name="babyName"></label>
            <label>Date of Birth: <input type="date" name="babyDOB"></label>
            <label>Gender: <input type="text" name="babyGender"></label>
            <label>Weight at Birth: <input type="number" name="babyWeight"></label>
            <label>Height at Birth: <input type="number" name="babyHeight"></label>
            <label>Blood Type: <input type="text" name="babyBloodType"></label>
            <label>Medical History: <textarea name="babyMedicalHistory"></textarea></label>
            <label>Allergies: <textarea name="babyAllergies"></textarea></label>
            <label>Pediatrician's Name: <input type="text" name="babyPediatricianName"></label>
            <label>Pediatrician's Phone: <input type="tel" name="babyPediatricianPhone"></label>
            <label>Hospital of Birth: <input type="text" name="babyHospitalBirth"></label>
            <label>Delivery Type: <input type="text" name="babyDeliveryType"></label>
            <label>Apgar Score: <input type="number" name="babyApgarScore"></label>
            <label>Birth Complications: <textarea name="babyBirthComplications"></textarea></label>
            <label>Vaccination Record: <textarea name="babyVaccinationRecord"></textarea></label>
            <label>Growth Progress: <textarea name="babyGrowthProgress"></textarea></label>
            
            <input type="submit" value="Submit">
    </form>
</div>
<script  src="/static/nav.js"></script>
<script src="/static/menus.js"></script>

</body>
</html>